body {
	font-family: "Helvetica Neue";
}

header {
	text-align: center;
}

header h1 {
	margin-bottom: 2px;
}

code {
	font-family: 'GT Pressura Mono';
	font-size: 15px;
	font-weight: normal;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
	background-color: #2a2a2e;
}